@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
body {
  font-family: "Merriweather", serif;
}
/* baner section design start */
.baner {
  /* border: 2px solid rgb(176, 41, 229); */
  max-width: 80%;
  margin: 0 auto;
  min-height: 600px;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/images/Banner\ Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.baner-contain {
  display: flex;
  color: aliceblue;
  /* border: 5px solid red; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}
.baner-titel {
  font-weight: 400;
  font-size: 32px;
}
.baner-head {
  font-weight: 900;
  font-size: 72px;
  text-align: center;
}

/* second- page start hear */
.second-page {
  /* border: 2px solid red; */
  width: 802.9px;
  height: 600px;
  margin: 50px auto;
  /* margin-top: 44px; */
  text-align: center;
}
.second-titel {
  font-size: 88px;
  font-weight: 700;
  color: rgb(255, 0, 0);
}
.second-description {
  color: rgb(255, 0, 0);

  font-size: 14px;
}
.second-titel-2 {
  color: rgb(7, 2, 17);

  font-size: 30px;
  font-weight: 300;
}
.second-img {
  width: 700px;
  height: 430px;
}
/* second- page end hear */

/* third page start hear */
.third {
  width: 1320px;
  height: 600px;
  /* border: 2px solid red; */
  margin: 0 auto;
  background-image: url("../img/images/vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}
.left-side {
  width: 50%;
  /* border: 2px solid rgba(32, 73, 235, 0.747); */
  height: 600px;
  color: white;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  margin-top: 250px;
  padding-left: 100px;

  /* line-height: 88px; */
}
.right-side {
  width: 50%;
  /* border: 2px solid rgb(18, 18, 15); */
  height: 600px;
  background-image: url("../img/images/group\ 70.png");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* margin-top: 10px; */
}
.third-titel {
  /* color: aqua; */
  /* border: 2px solid white; */
  font-size: 50px;
}
.third-description {
  font-size: 10px;
  margin-bottom: 5px;
}
.join {
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-size: 17px;
  /* border: 2px solid wheat; */
  margin-top: 10px;
  padding: 2px;
}
/* third page end hear */

/* fore page start hear */
.fore {
  /* border: 2px solid red; */
  width: 1320px;
  height: 1109px;
  margin: 120px auto;
  margin-top: 100px;
}
.fore-content h5 {
  color: red;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.fore-content h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.fore-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}
.item {
  /* border: 2px solid black; */
  width: 428px;
  height: 459px;
}
.fore-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
/* fore page end hear */

/* last page start */
.last-page {
  /* border: 2px solid black; */
  width: 1320px;
  height: 616px;
  background-color: rgb(251, 226, 230);
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 16px 106px ;
  
}
.last-content {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 896px;
  height: 336px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
.last-content img {
  width: 150px;
  height: 150px;
}
.last-content h4 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.last-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
/* last page end */
